#ace-editor {
    height: calc(100% - 110px);
}

#img-editor, #pdf-viewer, #video-viewer, #audio-viewer, #loader {
    overflow: auto;
    height: calc(100% - 110px);
}

#viewer-view {
    height: 98.7vh;
}

.text-marker {
    position: absolute;
    background: rgba(0, 0, 255, 0.25);
}
