<div class="images-block">{%- image images.-1b473663.url, images.-1b473663.alt, '[{"max":767,"size":"100vw"},{"max":10000,"size":"25vw"}]', 'loading="lazy" class="image-block"' -%}{%- image images.-1b391ee2.url, images.-1b391ee2.alt, '[{"max":479,"size":"119.80000305175781px"},{"max":10000,"size":"25vw"}]', 'loading="lazy" class="image-block"' -%}{%- image images.-163da255.url, images.-163da255.alt, '[{"max":479,"size":"119.80000305175781px"},{"max":10000,"size":"25vw"}]', 'loading="lazy" class="image-block"' -%}{%- image images.-162f748c.url, images.-162f748c.alt, '[{"max":479,"size":"119.80000305175781px"},{"max":10000,"size":"25vw"}]', 'loading="lazy" class="image-block"' -%}
    <div class="w-embed w-script">
      <script>document.querySelectorAll('.images-block picture').forEach(el => { el.classList.add('image-block'); el.querySelector('img').removeAttribute('class')})</script>
    </div>
  </div>