<div class="section dark wf-section">
    <div class="email-container">
      <div class="horizontal-wrapper">
        <h3 class="subscribe">{{ texts.7088aa70 }}</h3>
      </div>
      <div class="horizontal-wrapper">
        <div class="form-block w-form">
          <form id="email-form" name="email-form" data-name="email" method="get" class="form" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="email" class="text-field w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Your Email..." id="email-2" required="">
            <div class="subscribe-button-wrapper"><input type="submit" value="Subscribe" data-wait="Please wait..." class="subscribe-button _100 w-button"></div>
          </form>
          <div class="success-message w-form-done">
            <div class="text-block">{{ texts.5a0ea5a1 }}</div>
          </div>
          <div class="error-message w-form-fail">
            <div class="text-block">{{ texts.-7c112e99 }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>